* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  background-color:lightgray;
  font-size: 1em;
  max-width: 90%;
  margin: 0 auto;
}

/* 12 column grid */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
  /*float each column to left and add padding*/
  [class*="col-"] {
      float: left;
  }
  /*clear floats at end of each row div*/
  .row:after {
      content: "";
      clear: both;
      display: block;
  }
  #container {
    max-width:  1200px; /*using max-width allows resizing on shrink instead of scrollbar*/
    margin: 0 auto;
    background-color: lightgray;
  }

button {
  background-color: darkblue;
  color: white;
  height: 50px;
  margin:5px auto;
}

#header {
  height: 130px;
}
#header img {
  float: left;
  width: 100px;
  margin: 10px;
}

#header h1 {
  margin-left: 125px;
}

#header {
  width: 100%;
  margin: 10px auto;
  padding:10px;
  background-color: white;
}


#sidebar h3 {
  width: 50%;
  margin: auto;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: lightGray;
}
